<script src="./require/require.js"></script>

<script>
  require.config({
    baseUrl:"/pulic",
    paths:{
        angular:"assets/angularJs/angular.min",
        angularRoute:"assets/angularJs/angular-route",
        zeptoJs:"assets/zepto/zepto.min",
        zeptoSelector:"assets/zepto/selector",
        zeptoFx:"assets/zepto/fx",
        zeptoTouch:"assets/zepto/touch",
        swiper:"assets/swiper/js/swiper.jquery.min",
        touchslider:"assets/mainCss/touchslider",
        index:"src/index"
    }
  });
</script>
